.routes-in-page{
    display: flex;
    padding-left: 0;
    padding-top: 4em;
}

.routes-in-page ul li{
    /* display: inline;
    list-style-type: none;
    font-family: elza-narrow, sans-serif;
    font-size: 1vw;
    color:#8c8c8c ; */
}