.routes-in-page{
    display: flex;
    padding-left: 0;
}

.routes-in-page ul li{
    display: inline;
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0.8em;
    color:#8c8c8c ;
    letter-spacing: 0.2vw;
}