.productCard {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  border: rgb(236, 235, 235) solid;
  box-shadow: 1px 1px 1px 1px #dad8d8 ;
  width: 15em;
  height: 18em;
  border-radius: 15px;
  background-color: #f2f2f2;
  color: #000;
  /* font-family: 'Bebas Neue', sans-serif; */
  letter-spacing: 0.1vw;
  font-size: 1em;
}

img.productImg {
  width: 13em;
  height: 8em;
  margin-top: 1vw;
}

.rentBtn {
  padding-bottom: 2vw;
}

.rentBtn button {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2vw;
  border: none;
  border-radius: 1vw;
  width: 8em;
  height: 2.5em;
  font-size: 1em;
  background-color: #024959;
  color: #fff;
}

.rentBtn button:hover {
  background-color: #f2ae30;
  box-shadow: 5px 5px 5px #8c8c8c;
}
