.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  border: #fceed5 2px solid;
  width: 28vw;
  height: 24em;
  border-radius: 15px;
  color: #000;
  letter-spacing: 0.1vw;
  font-size: 1em;
}

.productCard p {
  margin-top: 0;
  margin-bottom: 0.2em;
}

img.productImg {
  width: 11em;
  height: 11em;
  margin-top: 1vw;
}
.Name h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}

.productDescription p {
  height: 40px;
  font-size: 0.9em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.rentBtn {
  display: flex;
  justify-content: space-around;
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
}

.rentBtn button {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2vw;
  border: none;
  border-radius: 8px;
  width: 6em;
  height: 2.5em;
  font-size: 1em;
  background-color: #024959;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.rentBtn button:hover {
  background-color: #f2ae30;
  box-shadow: 5px 5px 5px #8c8c8c;
}

.uploadBtn {
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.uploadBtn button {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2vw;
  border: none;
  border-radius: 8px;
  width: 7em;
  height: 2.5em;
  font-size: 1em;
  background-color: #024959;
  color: #fff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uploadBtn button:hover {
  background-color: #f2ae30;
  box-shadow: 5px 5px 5px #8c8c8c;
}

.editProduct {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .productCard {
    width: 40vw;
    height: 48vh;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .productCard p {
    font-size: 0.8em;
  }
  img.productImg {
    width: 7em;
    height: 7em;
  }

  .Name h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .rentBtn button {
    width: 6em;
    height: 2.5em;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 0.5em;

  }

  .uploadBtn {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .uploadBtn button {
    width: 5em;
    height: 2em;
    font-size: 0.8em;
  }
}
