.about-page{
    padding-top: 4em;
}

.second-foot h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1vw;
    color: #024959;
    margin-top: 1vw;
    padding-bottom: 0;
    font-size: 3em;
}

.second-foot h3{
    font-family: 'Bebas Neue', sans-serif;
    color: #024959;
    padding-top: 0;
    font-size: 2em;
}



 