.home-first-wide {
  display: flex;
  flex-wrap: wrap;
  height: 33vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

.home-text {
  width: 100%;
  max-width: 55%;
  padding: 0 2em;
  text-align: left;
}

.home-text h1 {
  font-family: "gg sans SemiBold", sans-serif;
  letter-spacing: -0.3vw;
  color: #000;
  margin-top: 1vw;
  font-size: 3.4em;
  line-height: 1em;
}

.home-text h3 {
  font-family: "gg sans Normal", sans-serif;
  color: #4e4e4e;
  padding-top: 0;
  font-size: 1.4em;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30%;
  padding: 0 2em;
  text-align: justify;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 342px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #f2ae30;
  font-size: 18px;
  font-family: "gg sans Bold", sans-serif;
}

#button:hover {
  background-color: #4e4e4e;
  box-shadow: 5px 5px 5px #8c8c8c;
}

.home-login {
  display: flex;
  justify-content: center;
  color: #4e4e4e;
}

@media screen and (max-width: 768px) {
  .home-first-wide {
    height: auto;
  }

  .home-text,
  .home-button {
    width: 100%;
    max-width: 100%;
  }
}
