.about-page{
    padding-top: 4em;
}

.first-products{
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.second-foot h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1vw;
    color: #024959;
    margin-top: 2vw;
    padding-bottom: 0;
}

.second-foot h3{
    font-family: 'Bebas Neue', sans-serif;
    /* letter-spacing: 0.1vw; */
    color: #024959;
    padding-top: 0;
}



 