.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 1px 5px rgb(238, 238, 238);
}

.navbar .logo {
  height: 60px;
}

.hamburger-button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger-icon {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #024959;
  position: relative;
  margin-top: 6px;
  transition: transform 0.2s ease-in-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #024959;
  position: absolute;
  left: 0;
  transition: transform 0.2s ease-in-out;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 2em;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

.nav-links li {
  margin-left: 1em;
}

@media screen and (max-width: 767px) {
  .navbar {
    align-items: center;
  }

  .hamburger-button {
    display: block;
    padding-right: 2em;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 1px 5px rgb(238, 238, 238);
  }

  .nav-links li {
    margin-left: 0;
    text-align: center;
  }

  .hamburger-icon {
    transform-origin: center;
  }

  .hamburger-icon::before {
    transform-origin: top center;
  }

  .hamburger-icon::after {
    transform-origin: bottom center;
  }

  .hamburger-button[aria-expanded="true"] .hamburger-icon {
    transform: rotate(45deg);
  }

  .hamburger-button[aria-expanded="true"] .hamburger-icon::before {
    transform: rotate(45deg) translate(0, -8px);
  }
}
