/* caixa amarela */

.newAccount {
  background-color: #f2ae30;
  width: 45em;
  height: 39em;
  border-radius: 3em;
  margin-bottom: 2em;
  box-shadow: 1px 1px 1px 1px #9c9c9c ;
}

.newAccount {
  font-family: "Oswald", sans-serif;
}

/* campos editáveis */

.formAccount {
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}

.formAccount h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  letter-spacing: 0.4em;
  padding-bottom: 0.5em;
}

.formAccount form {
  max-width: 30em;

}

.formAccount label {
  display: block;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 1em;
  margin-bottom: -0.7em;
  margin-top: 1em;
}

.formAccount input {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  border: 0.01em solid #ddd;
  font-size: 1.1w;
  font-family: "Oswald", sans-serif;
}

.formAccount select {
  text-align: left;
  font-family: "Oswald", sans-serif;
  width: 103%;
  padding: 0.3em;
  margin: 1em 0;
  border: 0.01em solid #ddd;
}

.formAccount button {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2em;
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0.5em;
    width: 7em;
    height: 2em;
    border: none;
    border-radius: 1em;
    background-color: #024959;
    color: #fff;
  }

.formAccount button:hover{
    background-color:  #f2f2f2;
    box-shadow: 5px 5px 5px #8c8c8c ;
    color: #000;
 } 
